// Our color pallete
$primary-white: #ffffff;
$secondary-white: #e5e5e5;
$htn-orange: #fca311;
$htn-blue: #14213d;
$primary-black: #000000;
$primary-pink: #e61c5d;


//breakpoints
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;