@import './_variables.scss';

#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: $primary-white;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}