@import '../../../styles/_variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: $htn-blue;

    .navItems {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;

        .itemLink { 
            text-decoration: none;
        }

        * {
            color: $primary-white;
            padding: 0 5px;
        }

        .item:hover {
            color: $htn-orange;
            padding: 0 5px;
        }

        
    }
}