#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    //change this to pull color from VAR's
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}