@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.singleArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: $primary-pink;
    min-height: 400px;
    transition: all .2s ease-in-out;
    border: 2px black solid;
}

.sAimageWrapper{
    width: 60%;
    .newsImage {
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}

.sAnewsInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 50px
}

.content {
    display: flex;
    align-items: center;
    gap: 3px;

    & > h2 {
        margin: 0;
    }

    & > p {
        margin: 0;
    }
}

.back {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    bottom: 0;
    color: black;
    background-color: #ffff;
    border: none;
    padding: 0;
    cursor: pointer;
    
    &:hover{
        text-decoration: underline;
    }
}
